.chat {
    display: flex;
    background: #fff;
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);

    &__sidebar {
        border-right: 1px solid #f7f7f7;
        width: 320px;

        &-dialogs {
            height: calc(100% - 148px);
        }

        &-newdialog {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            height: 20px;
            margin-bottom: 20px;

            .ant-btn-circle {
                position: relative;
                left: 5px;
            }

            & > div {
                svg {
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            border-bottom: 1px solid #f7f7f7;
            height: 64px;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 500;

            .ant-btn-circle {
                position: relative;
                left: 20px;
            }

            & > div {
                svg {
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }
    }

    &__dialog {
        flex: 1;
        position: relative;

        .ant-empty {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            margin-right: 30px;
            border-bottom: 1px solid #f7f7f7;

            &-center {
                text-align: center;
            }

            &-name {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
            }
        }
    }
}
